.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_main.R
docs/*
test.sqlite
docs/404.html
docs/sitemap.xml
docs/reference/summary.AFMmath.html
docs/reference/summary.AFMinfo.html
docs/reference/summary.AFMdata.html
docs/reference/print.AFMdata.html
docs/reference/plot.AFMdata.html
docs/reference/initialize-AFMdata-method.html
docs/reference/index.html
docs/reference/get.Hsd.html
docs/reference/AFMinfo.item.html
docs/reference/AFMinfo.html
docs/reference/AFMdata.html
docs/reference/AFM.writeDB.html
docs/reference/AFM.specHeader.html
docs/reference/AFM.specData.html
docs/reference/AFM.selectChannel.html
docs/reference/AFM.readDB.html
docs/reference/AFM.raster.html
docs/reference/AFM.partial.html
docs/reference/AFM.math.params.html
docs/reference/AFM.lineProfile.html
docs/reference/AFM.lineProfile-2.png
docs/reference/AFM.lineProfile-1.png
docs/reference/AFM.linePlot.html
docs/reference/AFM.linePlot-2.png
docs/reference/AFM.linePlot-1.png
docs/reference/AFM.isImage.html
docs/reference/AFM.isFileValid.html
docs/reference/AFM.import.html
docs/reference/AFM.history.html
docs/reference/AFM.histogram.html
docs/reference/AFM.hhcf.html
docs/reference/AFM.hhcf-1.png
docs/reference/AFM.getSampleImages.html
docs/reference/AFM.getLine.html
docs/reference/AFM.flattenLine.html
docs/reference/AFM.flattenFindLine.html
docs/reference/AFM.flattenCheck.html
docs/reference/AFM.flatten.html
docs/reference/AFM.dataType.html
docs/reference/AFM.crop.html
docs/reference/AFM.crop-2.png
docs/reference/AFM.crop-1.png
docs/reference/AFM.artificialImage.html
docs/reference/AFM.artificialImage-1.png
docs/pkgdown.yml
docs/news/index.html
docs/index.html
docs/authors.html
docs/articles/index.html
docs/articles/AFM-advancedGraph_files/figure-html/unnamed-chunk-4-1.png
docs/articles/AFM-advancedGraph_files/figure-html/unnamed-chunk-3-1.png
docs/articles/AFM-advancedGraph_files/figure-html/unnamed-chunk-2-1.png
docs/articles/AFM-advancedGraph_files/figure-html/setup-1.png
docs/articles/AFM-advancedGraph.html
docs/404.html
